@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin-top: 20px;
  background-color: green;
}

.card {
  margin: auto;
  position: relative;
  display: flexbox;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.suitsTop {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 45px;
}

.number {
  position: absolute;
  right: 85px;
  top: 110px;
  font-size: 60px;
  font: bolder;
}
.suitsBottom {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 45px;
}
