@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  margin-top: 20px;
  background-color: green;
}

.centered {
  margin: auto;
  position: relative;
  display: flexbox;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.numberTop {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 30px;
}

.suits {
  position: absolute;
  right: 80px;
  top: 130px;
  font-size: 35px;
}
.numberBottom {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 30px;
}
